@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap');

html{
    height: 100%;
}

input{
    border: none;
}

body{
    max-width: 100% !important;
}

*{
    margin: 0px;
    padding: 0px;
}

.header{
    background-color: #292d38;
}

.logo{
    display: inline-block;
}

.browse{
    margin-top: 4rem;
    padding-left: 2%;
    padding-right: 2%;
}

.browse-cont{
}

.browse-cont p{
    font-family: Poppins, 'sans-serif';
    font-size: 1.5rem;
    font-weight: 500;
}

.categories{
    text-align: center;
}

.category{
    display: inline-block;
    width: 49%;
    height: 8rem;
    margin-bottom: .3rem;
}

.category p{
    background-color: rgba(0, 0, 0, 0.5);
    font-size: 1rem;
    color: white;
    position: absolute;
    margin-top: -3rem;
    margin-left: 1rem;
    padding: .5rem;
    border-radius: 5px;
}

.category img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
}

.logo a{
    text-decoration: none;
}

.top-selling{
    padding: 0 3%;
    margin-top: 3rem;
}

.t-sell-text{
    font-family: Poppins, 'sans-serif';
    font-size: 1.5rem;
    font-weight: 500;
}

.top-cat-header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 1.3rem;
    margin-top: 2rem;
}

.cat-card-desc{
    padding-top: .5rem;
    line-height: .3rem;
}

.ccd-artist{
    color: #0150A7;
    font-family: Poppins, 'sans-serif';
    font-weight: 900;
    font-size: .8rem;
}

.ccd-events{
    font-size: .9rem;
}

.top-cat-title{
    font-family: Poppins, 'sans-serif';
    font-size: 1.1rem;
    font-weight: 500;
    letter-spacing: .05rem;
}

.s-all{
    font-family: Poppins, 'sans-serif';
    font-size: .8rem;
    font-weight: 900;
    color: #0150A7;
}

.cat-card{
    display: flex;
}

.cat-card img{
    width: 5rem;
    height: 3rem;
    border-radius: 2px;
    padding-right: .8rem;
}

.logo-text{
    display: inline-block;
    margin-right: 20px;
    font-size: 1.7rem;
    padding-left: .5rem;
    padding-top: .5rem;
}

.right-items{
    display: inline-block;
    float: right;
    margin-top: .6rem;
}

.hide{
    display: none;
}

.right-items a{
    text-decoration: none;
}

.log-l{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.log-l .ri{
    padding-top: .6rem;
    margin-right: 30px;
}

.log-r{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.s-hide{
    display: none;
}

.log-r .ri:not(:last-child) {
    text-align: left;
    margin-right: 15px;
}

.log-r img{
    height: 25px;
    width: 150px;
    padding-right: 1rem;
    display: none;
}

.ri{
    font-size: 1rem;
    font-weight: 500;
    height: 100%;
    margin-right: .5rem;
    letter-spacing: .05rem;
}

.hamburger{
    font-size: 1.9rem;
    margin-top: -.6rem;
    padding-right: .5rem;
}

.first-call{
    margin-top: 1rem;
}

.search-btn{
    border: none;
    display: inline-block;
    background-color: #0150A7;
    padding: .7rem;
    width: 12%;
    border-radius: 2px;
    font-weight: 600;
    display: none;
    float: right;
    margin: auto;
}

.slideshow{
    background-color: #292d38;
    padding-top: 3.5rem;
    max-width: 100%;
    max-height: 30rem;
    overflow-x: scroll;
}

.slideshow::-webkit-scrollbar{
    display: none;
}

.slide{
    width: 100%;
    transition: 2s;
}

.slide-img-div{
    width: 100%;
    height: 14rem;
    text-align: center;
}

.slide-title{
    background-color: white;
    padding-top: 1.5rem;
    padding-right: 3%;
    padding-left: 3%;
}

.slides{
    width: 300%;
    display: flex;
}

.slides-cont{
    background: white;
}

.slide-title h5{
    color: royalblue;
}

.slide-title p{
    /* font-size: 1rem; */
}

.slide-img{
    width: 100%;
    max-height: 100%;
    object-fit: cover;
}

.btns{
    background-color: white;
    margin-top: -1rem;
    padding-top: 1rem;
    display: flex;
    justify-content: center;
    position: absolute;
    align-items: center;
    width: 100%;
}

.btns a{
    width: 0.5rem;
	height: 0.5rem;
	border-radius: 50%;
	background-color: blue;
	opacity: 0.75;
	transition: opacity ease 250ms;
}

.btns a:not(:last-child){
    margin-right: 10px;
}

.fc-main{
    text-align: center;
    font-size: 1.4rem;
    font-weight: 500;
    font-family: 'Poppins', sans-serif;
}

.fc-sub{
    width: 90%;
    margin: auto;
    text-align: center;
    margin-top: -1rem;
}

.fc-sub p{
    font-size: .9rem;
}

.city{
    display: inline-block;
    width: 49%;
    border-right: solid 1px #e6e6e6;
}

.city input{
    width: 70%;
}

.city i{
    padding-left: .7rem;
}

.date{
    display: inline-block;
    width: 49%;
    text-align: center;
}

.filter i{
    padding-right: 0.5rem;
    color: skyblue;
    font-size: 1.2rem;
    display: inline-block;
}

.filter{
    background-color: white;
    width: 95%;
    margin: auto;
    border-radius: 0.3rem;
    padding-bottom: 1rem;
    padding-top: .5rem;
}

.filter hr{
    width: 90%;
    margin: auto;
    margin-bottom: 1rem;
}

.search{
    margin: auto;
    width: 90%;
    border: solid 1px #e6e6e6; 
    padding-left: 1rem;
}

.search i{
    font-size: 1rem;
    color: grey;
}

.search input{
    padding: 0.5rem 0;
    width: 92%;
}

.search input::placeholder{
    font-size: 1.1rem;
    color: #acacac;
    overflow: visible;
}

@media (min-width:760px){
    .filter{
        padding-bottom: 0;
    }
    .hide{
        display: inline;
    }
    .hamburger{
        display: none;
    }
    .flx{
        display: flex;
    }
    .city-date{
        display: inline-block;
        width: 40%;
        border-right: solid 1px black;
    }
    .filter hr{
        display: none;
    }
    .city{
        padding-left: 1rem;
        padding-right: 1rem;
        width: 49%;
        border-right: solid 1px black;
    }
    .city input{
        width: 100%;
        padding: 1rem;
    }
    .city i{
        display: none;
    }
    .date{
        width: 49%;
    }
    .date i{
        display: none;
    }
    .search{
        width: 45%;
        border: none;
        display: inline-block;
    }
    .search-btn{
        display: inline;
    }
    .right-items{
        /* margin-top: 1.3rem; */
    }
}

@media (min-width: 1030px){
    .log-r img{
        display: inline;
    }
    .filter{
        max-width: 1100px;
    }
}

@media (min-width: 1440px){
    .s-hide{
        display: inline;
    }
    .logo-text{
        padding-left: 4rem;
    }
}